/* Write your code here. */
ul {
  list-style-type: none;
  display: flex;
}
h1,
p {
  margin-left: 40px;
}
img {
  margin-right: 15px;
}
.container {
  padding: 20px;
  margin-left: 20px;
  margin-top: 30px;
}
.img {
  height: 500px;
}
